<h2>BONJOOOUR</h2>
<p-button icon="pi pi-external-link" label="Show" (click)="visible=!visible" ></p-button>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '60vw' , height: '80%' }" [draggable]="true" 
[resizable]="false" appendTo="body">
    <mat-form-field appearance="fill"  class="mat-select-container">
      <mat-label>Toppings</mat-label>
      <mat-select  multiple class="mat-select-overlay">
          {{toppings.value?.[0] || ''}}
          <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>

      </mat-select>

    </mat-form-field>
</p-dialog>