
<body class="sign-in-body">
    <img
      src="/assets/logomonoprix.png"
      alt="Monoprixlogowordmark11833"
      class="signup-logomonoprix"
    />

    <mat-card>
        <form  [formGroup]="form"    >
            <!--<mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="email" [(ngModel)]="form.value.email" formControlName="email"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!form.hasError('email')">
               S'il vous plaît, mettez une adresse email valide
                </mat-error>
                <mat-error *ngIf="!form.hasError('required')">
                </mat-error>
              </mat-form-field> -->
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                      <input type="email" matInput name="email" [(ngModel)]="form.value.email" formControlName="email" 
                       placeholder="Ex. nom@monoprix.tn">
                       <mat-error *ngIf="!form.hasError('email')">
                        mettez une adresse email valide
                         </mat-error>
                <mat-error *ngIf="!form.hasError('required')">
                    Email est <strong>obligatoire</strong> 
                </mat-error>
            </mat-form-field>  
        
              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Password</mat-label>
                <input [type]="showPassword ? 'password' : 'text'" matInput  formControlName="password"  placeholder="Password">
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" >
                  <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="!form.hasError('required')">
                  Password est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
              <button  type="button" (click)="submit()" >Se Connecter</button>
              <p-messages  [(value)]="msgs" [closable]="false" ></p-messages>
        
        </form>
    </mat-card>

</body>



