<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" (click)="opennew()" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" (click)="edit()"class="p-button-danger"  [disabled]="!selectedzone || !selectedzone.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="left">
                  <button pButton pRipple label="Export" icon="pi pi-upload" style="background-color: rgb(91, 91, 198); border-color: rgb(91, 91, 198);" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>


            <p-table #dt [value]="zones" [columns]="cols" responsiveLayout="scroll" [rows]="7" [globalFilterFields]="['designz','id_user']" [rows]="7" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedzone" selectionMode="single" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Listes des Zones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">id<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="designZ">Designation <p-sortIcon field="designZ"></p-sortIcon></th>
                        <th pSortableColumn="id_user">Commercial <p-sortIcon field="id_user"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-zones>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="zones"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">id</span>
                            {{zones.id_zone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Designation</span>
                            {{zones.designZ}}
                        </td>
                        <td   style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Commercial</span>
                                <span *ngFor="let user of zones.id_user">   {{ user.nomuser }}</span>  
                        </td>
                  
           
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" (click)="openedit(zones.id_zone)" class="p-button-rounded p-button-success mr-2" ></button>
                                <button pButton pRipple icon="pi pi-trash" (click)="delete1(zones.id_zone)" class="p-button-rounded p-button-warning"  ></button>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>
     

    <p-dialog [(visible)]="zonesDialog" [style]="{width: '500px'}" header="Ajouter Zone" [draggable]="false" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <form #zonesForm="ngForm" >
            <div class="field">
              <label for="name">Zone</label>
              <input type="text" pInputText id="designZ" name="designZ" [(ngModel)]="zone.designZ" required autofocus/>
              <small class="ng-dirty ng-invalid">Zone est obligatoire.</small>
            </div>
            
             <!-- <div class="formgrid grid">
                <div class="field col">
                  <label for="nomusers">Commercial</label>
                  <input type="text"  pInputText name="nomusers" [(ngModel)]="nomusers" />
                </div>
                <button pButton (click)="addName()">Add Commercial</button>
                </div>
              <p>Liste des Commerciaux:</p>
              <ul>
                <li *ngFor="let zone of zonesadd ; let i=index">{{ zone }}
                    <button (click)="deleteNomuser(i)">Delete</button>

                </li>
              </ul>
            -->
              <form>
                <mat-form-field class="example-chip-list" appearance="fill">
                  <mat-label>Liste des Utilisateurs affecté</mat-label>
                  <mat-chip-grid #chipGrid aria-label="user selection">
                    <mat-chip-row *ngFor="let users of user" (removed)="remove(users)">
                      {{users}}
                      <button matChipRemove [attr.aria-label]="'remove' + user">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="nouvel utilisateur..." #userInput [formControl]="userCtrl" [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let user of allusers" [value]="user">
                      {{user}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check"  class="p-button-text" (click)="addzone()" > </button>
        </ng-template>
      </p-dialog>
      
      
    
    
<p-dialog [(visible)]="zonesDialog1" [style]="{width: '550px' }" [draggable]="false"  header="Modifier Zone" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="editForm" >
          <div class="form-group">
            <label for="designZ">Zone</label>
            <input type="text" pInputText formControlName="designZ" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['designZ'].errors }" />
            <div *ngIf="submitted && f['designZ'].errors" class="invalid-feedback">
              <div *ngIf="f['designZ'].errors['required']">Zone est obligatoire.</div>
            </div>
          </div>
         
          <!--<div class="form-group">
              <label for="editnom">Commercial</label>
              <input type="text" pInputText  formControlName="editnom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['editnom'].errors }" />
            <button pButton (click)="editName()">Add Commercial</button>
            </div>
          <p>Liste des Commerciaux:</p>
              <ul>
                <li *ngFor="let name of nameusers ; let i=index">{{ name }}
                    <button (click)="deleteNomuser(i)">Delete</button>

                </li>
              </ul>-->

              <form>
                <mat-form-field class="example-chip-list" appearance="fill">
                  <mat-label>Liste des Utilisateurs affecté</mat-label>
                  <mat-chip-grid #chipGrid aria-label="user selection">
                    <mat-chip-row *ngFor="let users of nameusers" (removed)="removechipsedit(users)">
                      {{users}}
                      <button matChipRemove [attr.aria-label]="'remove' + user">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input placeholder="nouvel utilisateur..." #userInput [formControl]="userCtrl" [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addchipsedit($event)" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedchipsedit($event)">
                    <mat-option *ngFor="let user of allusers" [value]="user">
                      {{user}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
         </form>          
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button type="button" pButton pRipple label="Enregistrer" icon="pi pi-check" (click)="edit()"  class="p-button-text"  > </button>
    </ng-template>
  </p-dialog>

  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

    </div>



