<app-stat [User]="UserStat"  (closeEvent)="idUser=-1" *ngIf="idUser>=0"></app-stat>

<div *ngIf="idUser==-1" >
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts1()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="left">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="7" [globalFilterFields]="['nomuser']" [rows]="7" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des Comptes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">id<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nomuser">nom<p-sortIcon field="nomuser"></p-sortIcon></th>
                        <th pSortableColumn="email">email<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="password">password<p-sortIcon field="password"></p-sortIcon></th>
                        <th pSortableColumn="design_r">rôle <p-sortIcon field="design_r"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="users"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{ users.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">nom</span>
                            {{users.nomuser}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">email</span>
                            {{users.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">password</span>
                          <div class="flex">
                            <span class="password-value" *ngIf="!showPassword; else hiddenPassword">*******</span>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text mr-2" (click)="showPassword = !showPassword"></button>
                            <ng-template #hiddenPassword>{{ users.password }}</ng-template>
                          </div>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Role </span>
                          <p-tag value={{users.id_role.design_r}} [rounded]="true"></p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product,users.id)"></button>
                                    <button pButton pRipple icon="pi pi-trash" (click)="delete1(users.id)" class="p-button-rounded p-button-warning"  ></button>
                                   <div  *ngIf="users.id_role.design_r=='commercial'">
                                    <p-button label="Details" (click)="showcomponent(users.id,users)" styleClass="p-button-text" ></p-button>
                            </div>
                                   </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>


        <p-dialog [(visible)]="productDialog" [style]="{width: '50vw'}" header="Nouvel utilisateur" [draggable]="false" [modal]="true" [resizable]="false" class="p-fluid">
            <ng-template pTemplate="content">
              <form #userForm="ngForm"  >
                <div class="field col">
                  <label for="name">Nom utilisateur</label>
                  <input type="text" pInputText id="name" name="nomuser" [(ngModel)]="user.nomuser" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !userForm.controls['nomuser'].valid}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !userForm.controls['nomuser'].valid">Name est obligatoire.</small>
                </div>
                <div class="field col">
                  <label for="email">Email</label>
                  <input type="email" id="email" pInputText name="email" [(ngModel)]="user.email" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !userForm.controls['email'].valid}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !userForm.controls['email'].valid">Valid email est obligatoire.</small>
                </div>
                
                  <div class="field col">
                    <label for="password">Password</label>
                    <input type="password" id="password" pInputText name="password" [(ngModel)]="user.password" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !userForm.controls['password'].valid}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !userForm.controls['password'].valid">Password est obligatoire.</small>
                  </div>
                  <div class="formgrid grid">
                <div class="field col">
                  <label for="id_role">Role</label>
                  <p-dropdown [(ngModel)]="user.id_role" inputId="id_role" name="id_role" optionValue="value" [options]="roles" placeholder="Select Role d'Utilisateur"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !userForm.controls['id_role'].valid}" appendTo="body"></p-dropdown>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !userForm.controls['id_role'].valid">Role est obligatoire.</small>
                </div>
                <div class="field col">
                  <label for="actif">Actif</label>
                  <p-dropdown [(ngModel)]="user.actif" inputId="actif" name="actif" optionValue=value [options]="[{label: 'Oui', value: true}, {label: 'Non', value: false}]" placeholder="Select"  [ngClass]="{'ng-invalid ng-dirty' : submitted && !userForm.controls['actif'].valid}" appendTo="body"></p-dropdown>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !userForm.controls['actif'].valid">Actif status est obligatoire.</small>
                </div>
              
              </div>
              </form>
            </ng-template>
            <ng-template pTemplate="footer">
              <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button type="submit" pButton pRipple label="Enregister" icon="pi pi-check" (click)="saveUser(userform)" class="p-button-text"  > </button>
            </ng-template>
          </p-dialog>
          
        <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

     <p-dialog [(visible)]="productDialog1" [style]="{width: '50vw' }" [draggable]="false"  header="Modification d'utilisiteur"  [resizable]="false"  [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <form [formGroup]="editForm" >
              <div class="form-group">
                <label for="nomuser">Nom User</label>
                <input type="text" pInputText formControlName="nomuser" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['nomuser'].errors }" />
                <div *ngIf="submitted && f['nomuser'].errors" class="invalid-feedback">
                  <div *ngIf="f['nomuser'].errors['required']"> Ce champ est obligatoire.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" pInputText formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']"> Ce champ est obligatoire.</div>
                  <div *ngIf="f['email'].errors">Email must be a valid email address.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" pInputText formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']"> Ce champ est obligatoire.</div>
                </div>
              </div>
              <div class="formgrid grid">
             <div class="field col">
              <label for="id_role">Role</label>
              <p-dropdown  id="id_role" name="id_role" formControlName="id_role" optionValue="value" [options]="roles"  [ngClass]="{'is invalid' : submitted && f['id_role'].errors}" appendTo="body"></p-dropdown>
              <div *ngIf="submitted && f['id_role'].errors"> Ce champ est obligatoire.</div>
            </div>
            <div class="field col">
             <label for="actif">Actif</label>
              <p-dropdown id="actif" name="actif" formControlName="actif"  optionValue=value [options]="[{label: 'Oui', value: true}, {label: 'Non', value: false}]" appendTo="body" ></p-dropdown>
             </div>
             </div>

             </form>          
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" (click)="edituser()" class="p-button-text"  > </button>
        </ng-template>
      </p-dialog>
      
        
    </div>
</div>


