.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  button[type="button"] {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 100%; /* change width to 100% */
  max-width: 200px; /* add max-width */
    background-image: linear-gradient(red, rgb(246, 191, 191));

  }

  .dialog-overlay-container .mat-autocomplete-panel {
    position: static !important;
    z-index: 1000 !important;
  }
  